.section-top {
    height: 80vh;
}

.global {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.water-quality {
    width: 400px;
}

/* Responsive */

@media only screen and (max-width: 770px) {
    .global {
        flex-direction: column;
    }
    .water-quality {
        margin-top: 40px;
    }
}

@media only screen and (max-width: 450px) {
    .water-quality {
        width: 250px;
    }
}